<p id="notice"><%= notice %></p>

<h1>Club privée du soleil</h1>

<h2>Tu cherches des Clubs privées ?</h2>

<h3><%= link_to 'Une Inscription suffira', signup_path %></h3>

<h5>
<a href="signup"><img src="http://www.acoustix.be/wp-content/uploads/2017/10/Isolation-acoustique-discotheque-sous-sol-hotel-Acoustix-Pan-terre-3.jpg" alt=""></a>
</h5>
